
body{
    background-color: #b9c9c9;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;

    
}

.content_Area{
    position: relative;
    padding-top: 60px;
}

.com_bottom {
    display: inline-block;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 80px;
}
  
.com_bottom:hover {
    background: #67c5ff;
    color: white;
}