
body{
    background-color: #34485e;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    
}

#login_btn{
    display: inline-block;
}

.headArea_Login{
    text-align: center;
}

.login_content_Area{
    padding: 30px;
    background-color: #3c7d9b;
    height: 600px;
    margin-top: 5%;
}

.login_content_Itam{
    text-align: center;
    background-color:#5b9f8a;
    position: relative;         /* 位置指定 */
    padding: 70px;              /* 余白指定 */
    width:  400px;              /* 幅指定 */
    height: 400px;              /* 高さ指定 */
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 50%;
}
.header_Area{
    width: 100%;
    height: 60px;
    background-color:#5b9f8a;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 10;
    opacity:0.9;
}

#Icon_bottom{
    width: 3.5%;
    height: 100%;
    background-color: #3c7d9b;
    float: left;
    margin-right: 30px;
}

#title_name{
    color: aliceblue;
    float: left;
    font-size: 40px;
    text-align: center;
    font-family: 'Vollkorn', serif;
}

#Account_bottom{
    width: 3.5%;
    height: 100%;
    float: right;
}

.fotter_bottom{
    width: 10px;
	height: 10px;
    border-radius: 50%;
    z-index: 10;
}

.fotter_bottom_Area{
    background-color: aqua;
    position: fixed;
    bottom:0px;
    width: max-content;
    width: 100%;
    height: 10%;
}

#fotter_twitter_bottom{
    display: inline-block;
    width: 300px;
}

#fotter_Line_bottom{
    display: inline-block;
}
.content_Area{
    position: relative;
    padding-top: 40px;
}

.top_image_area{
    background-image: url(../image/top_backimage.jpg);
    width: 100%;
    height: 100px;
}

.image_list_area{
    top:50%;
}

.image_list{
    width: 80%;
    height: 400px;
    /* background-color: green; */
    margin-left: 15%;
    margin-top: 1%;
    overflow:hidden;
}



.category_selection_area{
    width: 10%;
    height: 100%;
    /* background-color: aliceblue; */
    float: left;
    top: 170px;
    left: 0px;
    position: fixed;
    z-index: 2;
}

.category_selection_bottom{
    width:100px;
    height:100px;
    border-radius:100%;
    margin-top: 20px;
    margin-left: 20px;
    text-align:center;
    line-height:100px;
    color: aliceblue;
    text-shadow: -1px 3px 4px rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.active{
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    background-color: orange;
    border-bottom: none;
}

.title_Area{
    /* background-color: yellow; */
    width: 600px;
    height: 30px;
    color: aliceblue;
}
.image_Area{
    /* background-color: red; */
    width: 500px;
    height: 350px;
    float: left;
    margin-right: 5%;
}
.comment_Area{
    /* background-color: blue; */
    width: 500px;
    height: 350px;
    float: left;
}

.bottom_area{
    padding-left: 60%;
}