{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/com_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/app_detail.css' %}">
{% endblock style %}

{% block script %}
{% endblock script %}


{% block content %}
    <div name="content_Area" class="content_Area">
        <p>本アプリについて</p>
        <p>■使用技術</p>
        <ul>■アプリ側</ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>javascript</li>
            <li>jquery</li>
            <li>Python</li>
        <ul>■インフラ</ul>
            AWS
        <ul>■その他</ul>
            
    <li>HTML</li>
    
    <p>■開発環境</p>

        <p>機能一覧</p>
        

    </div>
{% endblock content %}
