{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/com_style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <script type="text/javascript" src="{% static 'javascript/login.js' %}"></script>
    </head>
<body>
    <div>
        <div name="login_content_Area" class="login_content_Area">         
            <div name="login_content_Itam" class="login_content_Itam">
                <h1>Login</h1>
                <form method="POST">
                    {% csrf_token %}
                    <div id='username_area' class='login_txt'>{{username}}{{ form.username }}</div>
                    <div id='password_area'class='login_txt'>{{password}}{{ form.password }}</div>
                    <button id="login_btn"　class="com_bottom" type="submit">{{login_bottom}}</button>  
                </form>
                <div class="message_area" >
                    <div class='err_message'>{{message}}</div>
                </div>
            </div>
        </div> 
    </div>
</body>
</html>
