{% extends 'base.html' %}
{% load static %}

{% block script %}
    <script type="text/javascript" src="{% static 'javascript/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
{% endblock script %}

{% block style %}

{% endblock style %}


{% block content %}
    <div class="category_selection_area">
    {% for item in categry_list %}
        <div id="category_selection{{ item.id }}" onclick="Change_category(number='{{ item }}');" value='{{ item }}' class="category_selection_bottom">{{ item }}</div>
    {% endfor %}
    </div>>


    <div name="content_Area" class="content_Area">
        <div class="top_image_area">
            <p>Hobby Management</p>
        </div>
        {% include 'list.html' %}        
        <div class='bottom_area'>
            <form method="POST">
                {% csrf_token %}
                <a href="{% url 'logout' %}">ログアウト</a>
            </form>
        </div>
    </div>
{% endblock content %}
