{% extends 'base.html' %}
{% load static %}

{% block script %}
    <script type="text/javascript" src="{% static 'javascript/menu.js' %}"></script>
{% endblock script %}

{% block style %}

{% endblock style %}


{% block content %}
    <div class="category_selection_area">
        {% for item in object_list %}
            <div id="category_selection{{ item.id }}" onclick="Change_category(number='category_selection{{ item.id }}');"  class="category_selection_bottom">{{ item.title_name }}</div>
        {% endfor %}
        <div class="category_add_bottom">+</div>
    </div>


    <div name="content_Area" class="content_Area">
        <div class="top_image_area">
            <p>Hobby Management</p>
        </div>        
        <div class='image_list_area'>
            {% for item in object_list %}
                <diV class='image_list'>
                    <div class="title_Area">タイトル:{{ item.title_name }}</div>
                    <div class="image_Area"><img src="{{ item.image_file.url}}" width="500" height="350"/></div>
                    <div class="comment_Area">{{ item.comment | linebreaksbr}}</div>
                </diV>
            {% endfor %}
        </div>
        <div class='bottom_area'>
            <form method="POST">
                {% csrf_token %}
                <a href="{% url 'logout' %}">ログアウト</a>
            </form>
        </div>
    </div>
{% endblock content %}
