{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/com_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/regist.css' %}">
{% endblock style %}

{% block content %}
    <div name="content_Area" class="content_Area">
        <div class='regist_form_area'>
            <h1>{{title}}</h1>
            <form div method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <p><div id=’category_name’ class='regist_text'>{{category}}{{form.category_name}}</div></p>
                <p><div id='heading_name' class='regist_text'>{{heading_name}}{{form.heading_name}}</div></p>
                <p><div id='image_file' class='regist_text'>{{image_file}}{{form.image_file}}</div></p>
                <p><div id='comment' class='regist_text'>{{comment}}{{form.comment}}</div></p>
                <button id="regist_submit_bottom" class="com_bottom" type="submit">{{regist}}</button> 
            </form>
        </div>
    </div>
{% endblock content %}
